
<%- include partials/header.ejs %>



<%- include partials/main_nav.ejs %>




<main class="container">
<label for="floatingTextarea3"></label>
      <div class="jumbotron" style= "background-color:cornsilk;">
        <div class="container text-center">
        <h2 class="display-5">About Me</h2>  
        <label for="floatingTextarea2"></label> 

       <div class="card_profile">
       <div class="profile profile_photo">
        <img src="/Assets/images/photo.jpg" style="max-height: 150px;">
       </div>
       
        <h6 class="display-5">Anitta Davis</h6>
        
        <div class="profile-description">
        <p class="description"> I am a Computer science Engineering Graduate and pursuing Software Engineering - Artificial Intelligence. Iam a self motivated indian, who is very passionated to be part of technologies.Being a qualified Engineer demands the development of a sense of identity depending on the beliefs and attributes of the field. Moreover, engineers must exhibit excellent professional behavior and overall ethics.  </p></div>
        <div>
          <a href="Assets/resume.pdf" class="btn btn btn-primary" target="blank">
            Get my Resume
          </a>
        </div>
        </div>
        </div>
        </div>
      </div>

    </main>


<%- include partials/bottom_nav.ejs %>
    

<%- include partials/footer.ejs %>