<%- include partials/header.ejs %>



<%- include partials/main_nav.ejs %>




<main class="container">
<label for="floatingTextarea2"></label>
      <div class="jumbotron">
        <div class="container text-center">
        <h2 class="display-5">Contact Me</h2>
        <label for="floatingTextarea2"></label>
        <label for="floatingTextarea2">Don’t miss to contact me for more information, kindly fill the form below.</label>
         <label for="floatingTextarea2"></label>
        </div>
   
        <table class="table table-bordered">
            <tbody>
            <thead>
              <tr>
                <th>Email</th>
                <td> anittadavis99@gmail.com </td>
              </tr>
            </thead>
            </tbody>
            
          </table>


      

      <div class="row">
      <div class="col">
         <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
         <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
         <label for="floatingTextarea2"></label>
      </div>
      </div>

      
      
      <div class="row">
      <div class="col">
         <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address">
        <label for="floatingTextarea2"></label>
      </div>
      </div>

      <div class="form-floating">
         <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
         <label for="floatingTextarea2"></label>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="cancel" class="btn btn-primary">Cancel</button>
      </div>

    </main>

<%- include partials/bottom_nav.ejs %>
    

<%- include partials/footer.ejs %>

  