<%- include partials/header.ejs %>



<%- include partials/main_nav.ejs %>

  

  <!-- Main content -->
    <main class="container">
    <label for="floatingTextarea2"></label> 
      <div class="jumbotron" style="background-color:cornsilk;">

      <div class="layout_wrapper">  

        <div class="container text-center">
        <h1 class="display-5">Hi</h1>
        <h1 class="display-5">I'm Anitta Davis</h1>
        <h6 class="display-5">Software Engineer|Artificial Intelligence</h6>
        <label for="floatingTextarea2"></label>

        <blockquote>
          <dl>
    
            <dd>My mission is to be a part of the IT industry and to implement innovative and creative vision.</dd>
          </dl>
          <p><q cite>You never fail until you stop trying.</q></p>
          <cite>- Albert Einstein</cite>
        </blockquote>


        <p>
          <a class="btn btn-primary btn-large" href="/about">
            About Me
          </a>
        </p>

        </div>
      </div>
     </div> 
    

    </main>



<%- include partials/bottom_nav.ejs %>
    

<%- include partials/footer.ejs %>
